form{
    text-align: center;
}
.image-field{
    background-color: deepskyblue;
    color:white;
    border-radius: 20px;
    margin-top: 30px;
    border:none;
    width:50%;
}
.text-field{
    width:50%;
    height:40px;
    border-top:none;
    border-right:none;
    border-left:none;
}
.send-button{
    background-color: deepskyblue;
    color:white;
    border-radius: 20px;
    margin-top: 30px;
    border:none;
    width:50%;
    height:50px;
}